In [1]:
# First we import all the necessary libraries/modules.

import numpy as np
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import LSTM
from keras.callbacks import Callback
from keras.models import Sequential
from keras.layers import LSTM, Dense, Activation
import pickle
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import sys
from queue import Queue
import pandas as pd
import json
%matplotlib inline

Using TensorFlow backend.

In [2]:
import pandas as pd

#Select you source file -> excel in this case and create a pandas dataframe

df_bankdata = pd.read_csv(r'C:\Atul\Data Science\IBM\Course4\Project\P12-Churn-Modelling.csv')

df_bankdata

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
                      # Data Cleansing

In [4]:
pd.isnull(df_bankdata)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9971,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9972,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9973,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9974,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9975,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9976,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9977,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9978,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9979,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9980,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9981,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9982,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9983,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9984,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9985,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9986,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9987,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9988,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9994,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
dir(df_bankdata)
df_bankdata.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
# Data Preprocessing

In [7]:
#Now that we have a good understanding of what our data looks like, we can move towards preparing it 
#to build prediction models using scikit-learn
# We should have all the fields in numerical values which is what is required for the machine learning algorithms.
# We need to convert the "Geography" and "Gender" into numerical values
# we will use the LabelEncoder function for the same.

#import the necessary module
from sklearn import preprocessing
# create the Labelencoder object
le = preprocessing.LabelEncoder()
df_bankdata['Geography'] = le.fit_transform(df_bankdata['Geography'])
df_bankdata['Gender'] = le.fit_transform(df_bankdata['Gender'])

#Display the initial records
df_bankdata.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Identify the features and target columns:
#RowNumber            int64    Not Required
#CustomerId           int64    Not Required
#Surname             object    Not Required
#CreditScore          int64    Feature
#Geography           object    Feature
#Gender              object    Feature
#Age                  int64    Feature
#Tenure               int64    Feature
#Balance            float64    Feature
#NumOfProducts        int64    Feature
#HasCrCard            int64    Feature
#IsActiveMember       int64    Feature
#EstimatedSalary    float64    Feature
#Exited               int64    Target

#Select the columns identified as features and target. OR Drop the "Not Required" and "Target" columns from the data
cols = [col for col in df_bankdata.columns if col not in ['RowNumber','CustomerId', 'Surname', 'Exited' ]]
dataset = df_bankdata[cols]
# dropping the 'RowNumber','CustomerId', 'Surname', 'Exited' columns

#assigning the 'Exited'column as target
target = df_bankdata['Exited']

dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [9]:
# Split the dataa for Training Set & Test Set creation
#import the necessary module
from sklearn.model_selection import train_test_split
data_train, data_test, target_train, target_test = train_test_split(dataset, target, test_size = 0.30, random_state = 10)

In [39]:
#Select a model: We want to predict the "Exited" customers based on the data availableBuilding The Model
##Building The Model
#Lets prepare the checklist of the available data first:
#- More than 50 samples – Check
#- Are we predicting a category – Check
#- We have labeled data? ( data with clear names like opportunity amount etc.) – Check
#- Less than 100k samples – Check
#
#Based on the checklist that we prepared above and going by the machine_learning_map we can try out the below mentioned algorithms.
#
#- Naive Bayes
#- Linear SVC
#- K-Neighbours Classifier
#
#We will implement each of the models and find the performance.

In [40]:
# First we start with Machine Learning Models
##                    Naive-Bayes :- Gaussian Naive Bayes

In [41]:
# import the necessary module
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
#create an object of the type GaussianNB
gnb = GaussianNB()
#train the algorithm on training data and predict using the testing data
pred = gnb.fit(data_train, target_train).predict(data_test)
#print(pred.tolist())
#print the accuracy score of the model
print("Naive-Bayes accuracy : ",accuracy_score(target_test, pred, normalize = True))

Naive-Bayes accuracy :  0.7786666666666666

In [13]:
#Now we try the LinearSVC or Linear Support Vector Classification which is a subclass of the SVM (Support Vector Machine) class

In [14]:
#import the necessary modules
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
#create an object of type LinearSVC
svc_model = LinearSVC(random_state=10)
#train the algorithm on training data and predict using the testing data
pred = svc_model.fit(data_train, target_train).predict(data_test)
#print the accuracy score of the model
print("LinearSVC accuracy : ",accuracy_score(target_test, pred, normalize = True))

LinearSVC accuracy :  0.7933333333333333

c:\atul\software repository\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
#   K-Neighbors Classifier

In [79]:
#import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#create object of the lassifier
neigh = KNeighborsClassifier(n_neighbors=3)
#Train the algorithm
neigh.fit(data_train, target_train)
# predict the response
pred = neigh.predict(data_test)
# evaluate accuracy
print ("KNeighbors accuracy score : ",accuracy_score(target_test, pred))

KNeighbors accuracy score :  0.7313333333333333

In [15]:
## Now we try some Deep Learning model

##         Keras:

In [10]:
#              Standardize The Data
#Standardization is a way to deal with these values that lie so far apart. The scikit-learn package offers you a 
#great and quick way of getting your data standardized: import the StandardScaler module from sklearn.preprocessing 
#and you’re ready to scale your train and test data!# Import `StandardScaler` from `sklearn.preprocessing`

from sklearn.preprocessing import StandardScaler

# Define the scaler 
scaler = StandardScaler().fit(data_train)

# Scale the train set
data_train = scaler.transform(data_train)

# Scale the test set
data_test = scaler.transform(data_test)

In [11]:
# Import `Sequential` from `keras.models`
from keras.models import Sequential

# Import `Dense` from `keras.layers`
from keras.layers import Dense

# Initialize the constructor
model = Sequential()

# Add an input layer 
model.add(Dense(12, activation='relu', input_shape=(10,)))

# Add one hidden layer 
model.add(Dense(8, activation='relu'))

# Add an output layer 
model.add(Dense(1, activation='sigmoid'))

WARNING: Logging before flag parsing goes to stderr.
W0723 19:33:37.303442 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0723 19:33:38.967312 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0723 19:33:39.175711 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [12]:
# Model output shape
model.output_shape

# Model summary
model.summary()

# Model config
model.get_config()

# List all weight tensors 
model.get_weights()

W0723 19:33:41.348890 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

W0723 19:33:41.349890 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 12)                132
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 245
Trainable params: 245
Non-trainable params: 0
_________________________________________________________________

[array([[ 0.12108141,  0.35229254, -0.00639623,  0.21328592, -0.05000174,
         -0.4327762 , -0.06341496, -0.46517012,  0.16402453, -0.4338236 ,
          0.18312341, -0.23247343],
        [ 0.2847861 ,  0.18152231, -0.33743852,  0.36892003, -0.21613511,
          0.35515654,  0.28152305,  0.14397669,  0.3637789 ,  0.33330727,
          0.46434873,  0.26118124],
        [-0.31282213, -0.32317626, -0.24352297,  0.4626422 ,  0.5048017 ,
         -0.09503689, -0.09610382,  0.04546946,  0.09986615,  0.35303253,
          0.21858358,  0.4513027 ],
        [ 0.3097319 , -0.35997683, -0.06733277, -0.05113801,  0.3289153 ,
         -0.41012138,  0.122419  ,  0.2301665 , -0.28375414,  0.16265815,
          0.04855782, -0.10975149],
        [ 0.5142519 ,  0.49875468,  0.01634556, -0.310727  ,  0.3309726 ,
          0.21287882, -0.42870474,  0.09871167, -0.08867803,  0.03796089,
          0.09032404,  0.46098173],
        [ 0.48830622, -0.07491297,  0.04664069, -0.21646455,  0.30128455,
          0.5138274 ,  0.16456103,  0.05563122,  0.33943605,  0.00085998,
         -0.47364527, -0.21413547],
        [ 0.29251665,  0.35698634,  0.45088756,  0.38624555, -0.08561224,
          0.27416635,  0.16767234,  0.3423695 ,  0.52064997, -0.1453133 ,
          0.29640663,  0.2645421 ],
        [ 0.34117258, -0.1594483 , -0.48591998, -0.16027093,  0.4787348 ,
          0.43408608, -0.36115742,  0.49174756, -0.24926785,  0.08957303,
          0.23286104,  0.34416342],
        [ 0.34068745,  0.41551924,  0.35596758, -0.28376248,  0.48662454,
         -0.44163537,  0.11242509,  0.0177412 ,  0.41027838, -0.11154133,
          0.3244204 ,  0.17267537],
        [ 0.09373391,  0.30348212, -0.4211566 ,  0.36781198,  0.1067875 ,
          0.4458372 ,  0.02004689,  0.0550794 ,  0.44377732, -0.16221902,
          0.34645277, -0.432231  ]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.44507968, -0.3363298 , -0.05788019, -0.26969594,  0.5299572 ,
         -0.24663699, -0.3174748 , -0.13363189],
        [ 0.18077737, -0.06638691, -0.5346588 ,  0.45511687,  0.03827786,
          0.1718989 , -0.15516716,  0.07355666],
        [-0.5312166 ,  0.37342465, -0.4570364 ,  0.14347619, -0.4558392 ,
          0.07034189, -0.33897835,  0.10239542],
        [ 0.09404242,  0.45544577,  0.43314743, -0.35759565,  0.29024673,
         -0.19602776,  0.04481077, -0.37755474],
        [ 0.29893446, -0.49656227,  0.54426074, -0.47756928,  0.4226141 ,
          0.15064937, -0.51224804,  0.16018587],
        [-0.23378459, -0.4564442 ,  0.41958594, -0.5139783 , -0.3189314 ,
          0.3750946 ,  0.5247736 , -0.20198202],
        [-0.36480486, -0.4935542 , -0.35837853,  0.2975912 , -0.2594019 ,
         -0.20314282,  0.15280026, -0.40466583],
        [ 0.14891136, -0.478305  ,  0.34035122, -0.05616218, -0.5468326 ,
         -0.39264867,  0.23669457,  0.10148835],
        [-0.35739115, -0.36863708,  0.20222008, -0.46661288,  0.26451737,
          0.10349023, -0.0438295 , -0.37901276],
        [-0.46287572, -0.35876924, -0.5218445 , -0.49809852,  0.3150801 ,
         -0.28507286,  0.18244773, -0.30984014],
        [-0.21768239,  0.3285541 ,  0.4028991 , -0.3111732 , -0.3644542 ,
         -0.49494353,  0.18545306,  0.43966663],
        [-0.09983224,  0.05041265,  0.26346892,  0.05680913, -0.21010232,
          0.4310344 , -0.15784118,  0.49320757]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.47257245],
        [ 0.00609815],
        [-0.12355733],
        [-0.1764459 ],
        [-0.41069838],
        [-0.3099149 ],
        [-0.65261346],
        [ 0.34177256]], dtype=float32),
 array([0.], dtype=float32)]

In [13]:
#                Compile and Fit

In [14]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])
                   
model.fit(data_train, target_train, epochs=20, batch_size=1, verbose=1)

W0723 19:33:51.426347 13836 deprecation_wrapper.py:119] From c:\atul\software_repository\python\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0723 19:33:51.721726 13836 deprecation.py:323] From c:\atul\software_repository\python\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Epoch 1/20
7000/7000 [==============================] - 12s 2ms/step - loss: 0.4440 - acc: 0.8057
Epoch 2/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3928 - acc: 0.8303
Epoch 3/20
7000/7000 [==============================] - 9s 1ms/step - loss: 0.3605 - acc: 0.8510
Epoch 4/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3473 - acc: 0.8580
Epoch 5/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3445 - acc: 0.8609
Epoch 6/20
7000/7000 [==============================] - 7s 979us/step - loss: 0.3385 - acc: 0.8591
Epoch 7/20
7000/7000 [==============================] - 6s 831us/step - loss: 0.3364 - acc: 0.8601
Epoch 8/20
7000/7000 [==============================] - 6s 921us/step - loss: 0.3338 - acc: 0.8644
Epoch 9/20
7000/7000 [==============================] - 6s 857us/step - loss: 0.3325 - acc: 0.8639 1s - l
Epoch 10/20
7000/7000 [==============================] - 6s 813us/step - loss: 0.3299 - acc: 0.8631
Epoch 11/20
7000/7000 [==============================] - 6s 886us/step - loss: 0.3297 - acc: 0.8647
Epoch 12/20
7000/7000 [==============================] - 6s 865us/step - loss: 0.3294 - acc: 0.8641
Epoch 13/20
7000/7000 [==============================] - 7s 944us/step - loss: 0.3288 - acc: 0.8676 1s -
Epoch 14/20
7000/7000 [==============================] - 6s 911us/step - loss: 0.3293 - acc: 0.8651
Epoch 15/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3272 - acc: 0.8660
Epoch 16/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3280 - acc: 0.8673
Epoch 17/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3277 - acc: 0.8689
Epoch 18/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3271 - acc: 0.8641
Epoch 19/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3267 - acc: 0.8657
Epoch 20/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3270 - acc: 0.8661

In [15]:
##    Predict

In [16]:
y_pred = model.predict(data_test)

In [17]:
#quick idea of the accuracy by checking how y_pred and y_test compare
y_pred[:5]

array([[0.5220503 ],
       [0.31409854],
       [0.38060847],
       [0.0089362 ],
       [0.76008105]], dtype=float32)

In [18]:
score = model.evaluate(data_test, target_test,verbose=1)

print(score)

3000/3000 [==============================] - 0s 122us/step
[0.36847306124369306, 0.8449999998410542]

In [ ]:
## Now we increase the no of neurons and also add more hidden layers and then observe the accuracy/loss

In [19]:
model2 = Sequential()

# Add an input layer 
model2.add(Dense(12, activation='relu', input_shape=(10,)))

# Add one hidden layer 
model2.add(Dense(50, activation='relu'))  ## increased the no of neurons
model2.add(Dense(10))   ## Add 1 more hidden layer

# Add an output layer 
model2.add(Dense(1, activation='sigmoid'))

# Model output shape
model2.output_shape

# Model summary
model2.summary()

# Model config
model2.get_config()

# List all weight tensors 
model2.get_weights()

y_pred2 = model2.predict(data_test)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 12)                132
_________________________________________________________________
dense_5 (Dense)              (None, 50)                650
_________________________________________________________________
dense_6 (Dense)              (None, 10)                510
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 11
=================================================================
Total params: 1,303
Trainable params: 1,303
Non-trainable params: 0
_________________________________________________________________

In [20]:
model2.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])
                   
model2.fit(data_train, target_train, epochs=20, batch_size=1, verbose=1)

Epoch 1/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.4173 - acc: 0.8257
Epoch 2/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3657 - acc: 0.8473
Epoch 3/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3536 - acc: 0.8567
Epoch 4/20
7000/7000 [==============================] - 7s 1ms/step - loss: 0.3458 - acc: 0.8600
Epoch 5/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3413 - acc: 0.8603
Epoch 6/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3374 - acc: 0.8634
Epoch 7/20
7000/7000 [==============================] - 9s 1ms/step - loss: 0.3369 - acc: 0.8656
Epoch 8/20
7000/7000 [==============================] - 10s 1ms/step - loss: 0.3326 - acc: 0.8653
Epoch 9/20
7000/7000 [==============================] - 9s 1ms/step - loss: 0.3323 - acc: 0.8666
Epoch 10/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3288 - acc: 0.8663
Epoch 11/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3278 - acc: 0.8646
Epoch 12/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3259 - acc: 0.8681
Epoch 13/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3251 - acc: 0.8686
Epoch 14/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3233 - acc: 0.8711
Epoch 15/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3239 - acc: 0.8700
Epoch 16/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3208 - acc: 0.8711
Epoch 17/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3204 - acc: 0.8687
Epoch 18/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3198 - acc: 0.8703
Epoch 19/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3198 - acc: 0.8683
Epoch 20/20
7000/7000 [==============================] - 8s 1ms/step - loss: 0.3175 - acc: 0.8700

In [21]:
score2 = model2.evaluate(data_test, target_test,verbose=1)

print(score2)

3000/3000 [==============================] - 0s 72us/step
[0.362811345299085, 0.8476666668256124]

In [30]:
##        Now we apply PCA and see the results

print (data_test.shape, data_train.shape)

(3000, 10) (7000, 2)

In [42]:
from sklearn.decomposition import PCA 
  
pca = PCA(n_components = 2) 
  
data_train_pca = pca.fit_transform(data_train) 
data_test_pca = pca.fit_transform(data_test) 
  
explained_variance = pca.explained_variance_ratio_

In [32]:
# Now we run the Gaussian Naive Bayes model once again

In [43]:
# import the necessary module
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
#create an object of the type GaussianNB
gnb = GaussianNB()
#train the algorithm on training data and predict using the testing data
pred = gnb.fit(data_train_pca, target_train).predict(data_test_pca)
#print(pred.tolist())
#print the accuracy score of the model
print("Naive-Bayes accuracy : ",accuracy_score(target_test, pred, normalize = True))

Naive-Bayes accuracy :  0.7933333333333333

In [ ]:
## So we see that after applying PCA, we have acually improved the accuracy score